<div id="container" >
    <div class="item">
        <!-- <div id="middleBlock">
            <div id="startButton" [routerLink]="['/training']">
                
            </div>
        </div> -->
        <div id="middleText">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="sonar-wrapper">
            <div class="sonar-emitter" [routerLink]="['/training']"> 
                <i class="bi bi-arrow-right-circle"></i>
                <div class="sonar-wave"></div>
                
            </div>
        </div>
    </div>
    <div class="item">
        Page Two
    </div>
    <div class="item">
        Page Three
    </div>
</div>