<div class="container content z-depth-1">
  <div class="row">
    <div class="col s12 text-center mb-3 font-italic">
      <h1>Admin panel</h1>
    </div>
    <div class="list-container row">
      
      <div class="col s12 m6 l4" style="overflow-y: scroll;">
        <h4>Users</h4>
        <div *ngFor="let user of users" >
          <div class="user-list list insert-docs" >
            <div class="list-item" *ngIf="user">
              <div class="primary-data">
                <div class="name">{{user['username']}}</div>
                <div class="email">{{user['email']}}</div>
              </div>
              <div class="secondary-data">
                <div class="action-icon red-text" data-toggle="modal"  data-target="#buttonDeleteModal" (click)="deleteUser(user['id'])"><i class="material-icons">delete</i></div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col s12 m6 l4"   style="overflow-y: scroll;">
        <h4>Admins</h4>
        <div class="user-list list insert-admins">
          <div class="list-item">
            <div class="primary-data">
              <div class="name">Admin1</div>
              <div class="email">admin1@gmail.com</div>
            </div>
            <!-- <div class="secondary-data">
              <div class="action-icon grey-text"><i class="material-icons">delete</i></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col s12 m-3 l4 text-center">
    <button type="button" class="btn red-text btn-lg btn-block" data-toggle="modal" data-target="#emailDeleteModal">Delete by email</button>
  </div>

  
</div>
<div class="modal fade" id="emailDeleteModal" role="dialog" aria-labelledby="emailDeleteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailDeleteModal">Delete by email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn red-text">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="buttonDeleteModal" tabindex="-1" aria-labelledby="buttonDeleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buttonDeleteModal">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure that you want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn red-text">Delete</button>
      </div>
    </div>
  </div>
</div>