
<div style="width: 1200px;" class="grid-wrapper" *ngIf = "data">
  
    <ag-grid-angular
        [style]="tableStyle"
        [class]="tableClass"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="paginationEnabled"
        [paginationPageSize]="paginationPageSize"
        [rowSelection]="rowSelection"
        [animateRows]="paginationEnabled"
        [suppressColumnMoveAnimation] = "moveAnimationEnabled"
        [suppressDragLeaveHidesColumns]="suppressDragLeaveHidesColumnsEnabled"
        (gridReady)="onGridReady($event)"
        >
    </ag-grid-angular>
</div>
