<h3 style="text-align: center;">Configure hyperparameters</h3>
<div class="options" style="margin-top: 10px; ">
    <form #form>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm select">
                <h6>Activation function</h6>
                <mat-form-field class="mat-form" appearance="fill">
                    <mat-label><b>Favorite function</b></mat-label>
                    <mat-select [formControl]="activationFunctionControl" name="activationFunctionControl">
                        <mat-option *ngFor="let item of activationFunctions" [value]="item">
                        {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="activationFunctionControl.hasError('required')">Please choose a activation function</mat-error>
                    <mat-hint>{{activationFunctionControl.value.info}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm select">
                <h6>Optimizer</h6>
                <mat-form-field  class="mat-form" appearance="fill">
                    <mat-label><b>Favorite optimizer</b></mat-label>
                    <mat-select [formControl]="optimizerFunctionControl" name="optimizerFunctionControl">
                        <mat-option *ngFor="let item of optimizerFunctions" [value]="item">
                        {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="optimizerFunctionControl.hasError('required')">Please choose an optimizer</mat-error>
                    <mat-hint>{{optimizerFunctionControl.value.info}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm select">
                <h6>Loss function</h6>
                <mat-form-field class="mat-form" appearance="fill">
                    <mat-label><b>Favorite loss fun.</b></mat-label>
                    <mat-select [formControl]="lossFunctionControl" name="lossFunctionControl">
                        <mat-option *ngFor="let item of lossFunctions" [value]="item">
                        {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="lossFunctionControl.hasError('required')">Please choose a loss function</mat-error>
                    <mat-hint>{{lossFunctionControl.value.info}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm ">
                <h6>Metrics</h6>
                <mat-form-field class="mat-form" appearance="fill">
                    <mat-label><b>Favorite function</b></mat-label>
                    <mat-select [formControl]="metricsControl" name="metricsControl" multiple>
                        <mat-option *ngFor="let item of metrics" [value]="item">
                        {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="metricsControl.hasError('required')">Please choose some metrics</mat-error>
                    <mat-hint>{{metricsControl.value.info}}</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm select"> 
                <h6>Test data ratio</h6>
                <ngx-slider [(value)]="sliderValue" [options]="sliderOptions" id="rangeSlider"></ngx-slider>
            </div>
            <div class="col-sm-2">
                <h6>Number of epochs</h6>
                <ngx-number-spinner 
                name="epochs"
                [value]="numberOfEpochs"
                (change)="changeEpoch($event)" 
                [min]="0">
                </ngx-number-spinner>
            </div>
            <div class="col-sm-2">
                <h6>Learning rate</h6>
                <ngx-number-spinner
                name="rate"
                [value]="learningRate"
                (change)="changeRate($event)" 
                [min]="0.1"
                [step]="0.1">
                </ngx-number-spinner>
            </div>
        </div>
        <br>
        <div id="button" style="display: inline-flex;">
            <button class="btn btn-primary btn-circle btn-sm" (click)="TrainingClick()" [disabled]="lossFunctionControl.invalid || activationFunctionControl.invalid || optimizerFunctionControl.invalid || metricsControl.invalid"><mat-icon>play_arrow</mat-icon></button>
            <div id="miniCircle" [ngStyle]="{'display': loaderMiniDisplay}">
                <div class="miniLoader">
                    <div class="miniLoader">

                    </div>
                </div>
            </div>
        </div>

        <br>
    </form>
</div>
