<div class="navigation-buttons" [ngStyle]="{'display': navButtonsDisplay}">
    <button class="btn btn-primary float-start ms-4" [disabled]="backButtonDisable" (click)="OnBackClick()">Back</button>
    <button id="nextButton" type="button" class="btn btn-primary float-end me-5" [disabled]="nextButtonDisable" (click)="OnNextClick()">Next</button>
</div>
<div id="circle" [ngStyle]="{'display': loaderDisplay}">
    <div class="loader">
        <div class="loader">
            <div class="loader">
                <div class="loader">
                    <div class="loader">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [ngStyle]="{'display': uploadDisplay}">
    <app-upload #upload (linkEvent)="onShowDataClick($event)" 
                (uploadEvent)="onFileSelected($event)"></app-upload>
    <br><br>
</div>

<div id="first" [ngStyle]="{'display': firstVisibility}">
    <div class="header-container">
        <h4>{{fileName}}</h4>
        <button type="button" class="btn btn-secondary" 
        (click)="toggleTables($event)" id="statsButton">Show stats</button>&nbsp;
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyModal" (click)="modalOpen()">
        Modify dataset
        </button>
    </div>
    <br><br>
    <div class="row mx-auto" id="mainContainer" [ngStyle]="{'visibility': containerVisibility}">
        <div class="col-lg-9">
            <app-show-table [ngStyle]="{'display':mainTableDisplay}" #dataTable id="mainTable" 
            (hideEvent)="changeCheckBox($event)"
            (undoEvent)="enableUndo($event)"
            (deleteEvent)="enableUndoDeleted($event)">
            </app-show-table><br>
        </div>
        <div class="col-lg-3">
            <app-labels #Labels id="labelCards" [ngStyle]="{'display': labelsDisplay}" 
            (checkEvent)="changeColomnVisibility($event)" 
            (labelEvent)="onSelectedLabel($event)"></app-labels>
        </div>
        <div [ngStyle]="{'display':statsTableDisplay}">
            <app-stats #Stats></app-stats>
            <!--<h4>Basic Info</h4>
            <app-show-table #dataSetInformation id="basicInfo"></app-show-table>-->
            <br>
        </div>
        <div class="modal fade" id="modifyModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg"  style="max-width: 80%;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modify '{{fileName}}' dataset</h5>
                  <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#secondModal" (click)="confirmationCancel()" aria-label="Close"
                  id="modal-close">
                  </button>
                </div>
                <div class="modal-body">
                  <app-modify-dataset #modifyModal *ngIf="modalDisplay" [table_data]="dataTable.data" [header]="dataTable.headers"></app-modify-dataset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#secondModal" (click)="confirmationCancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#secondModal" (click)="confirmationSave()">Modify</button>
                </div>
              </div>
            </div>
          </div>

        <div class="modal fade" id="secondModal" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                    </div>
                    <div class="modal-body" *ngIf="!confirmation">
                        Are you sure that you want to cancel changes? This proccess cannot be undone.
                    </div>
                    <div class="modal-body" *ngIf="confirmation">
                        Are you sure that you want to save changes? This proccess cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modifyModal">No</button>
                        <button type="button"  *ngIf="!confirmation" class="btn btn-primary" data-bs-dismiss="modal" (click)="OnModalClose()">Yes</button>
                        <button type="button" class="btn btn-primary" *ngIf="confirmation" data-bs-dismiss="modal" (click)="OnModalSave()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="second" class="container" style=" width: 1200px;" [ngStyle]="{'display': secondDisplay}">
    <app-hyperparameters [featuresLabel]="featuresLabel" [datasetId]="datasetId"></app-hyperparameters>
    <!-- Deo kada se klikne na dugme -->
    <!-- <div class="options">
        <input>
    </div> -->
    <app-chart></app-chart>
</div>
