<div>
    <button class="btn btn-primary float-start ms-4 my-5" [disabled]="backButtonDisable" (click)="OnBackClick()">Back</button>
    <button id="nextButton" type="button" class="btn btn-primary float-end me-5 my-5" [disabled]="nextButtonDisable" (click)="OnNextClick()">Next</button>
</div>

<div [ngStyle]="{'display': uploadDisplay}">
    <app-upload (linkEvent)="onShowDataClick($event)" 
                (uploadEvent)="onFileSelected($event)"></app-upload>
    <br><br>
</div>
<div id="first" [ngStyle]="{'display': firstVisibility}">
    <div id="circle" [ngStyle]="{'display': loaderDisplay}">
        <div class="loader">
            <div class="loader">
                <div class="loader">
                    <div class="loader">
                        <div class="loader">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto" id="mainContainer" [ngStyle]="{'clear': 'both', 'visibility': containerVisibility, 'text-align':'center'}">
        <!-- ova dva dugmeta prave problem -->
        <div class="col-sm-9" id="block">
            <div class="mx-auto" id="buttons" [ngStyle]="{'margin-bottom':'5px','text-align':'left'}" >
                <button type="button" class="btn btn-secondary" 
                (click)="toggleTables($event)" id="statsButton">Show stats</button>&nbsp;
                <button type="button" class="btn btn-danger" 
                (click)="onRemoveSelected()" 
                [ngStyle]="{'display': deleteButtonDisplay}" 
                id="deleteButton">Delete selected</button>&nbsp;
                <!--<button type="button" class="btn btn-secondary" 
                (click)="onUndoDeleted()" 
                [disabled]="undoDeletedDisabled" 
                id="undoDeletedButton">Undo deleted</button>&nbsp;-->
                <button type="button" class="btn btn-secondary" 
                (click)="onUndo()" 
                [disabled]="undoDisabled" 
                id="undoButton">Undo</button>&nbsp;
                <button id="updateMainTable" type="button" class="btn btn-primary" (click)="onApplyChanges()">Apply Changes</button>&nbsp;&nbsp;
                
            </div>
            <app-show-table [ngStyle]="{'display':mainTableDisplay}" #dataTable id="mainTable" 
            (hideEvent)="changeCheckBox($event)"
            (undoEvent)="enableUndo($event)"
            (deleteEvent)="enableUndoDeleted($event)">
            </app-show-table><br>
        </div>
        <div [ngStyle]="{'display':statsTableDisplay}">
            <h4>Basic Info</h4>
            <app-show-table #dataSetInformation id="basicInfo"></app-show-table>
            <br>
            <h4>Statistical Indicators for Numerical Data</h4>
            <app-show-table #numIndicators id="numerical">
            </app-show-table>
            <br>
            <h4>Statistical Indicators for Categorical Data</h4>
            <app-show-table #catIndicators id="categorical">
            </app-show-table>
            <img [src]="corrMatrixSource" style="height: auto;width: 70%;">
        </div>
        <div class="col-sm">
            <app-labels #Labels id="labelCards" [ngStyle]="{'visibility': labelsVisibility}" 
            (checkEvent)="changeColomnVisibility($event)" 
            (labelEvent)="onSelectedLabel($event)"></app-labels>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Nastavi dalje</h5>
                    </div>
                    <div class="modal-body">
                        Da li zelite sigurno da nastavite dalje?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne</button>
                        <button type="button" class="btn btn-primary" (click)="OnNextClick()">Da</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="second" class="container" style="overflow: hidden; width: 1200px;" [ngStyle]="{'display': secondDisplay}">
    <app-hyperparameters [featuresLabel]="featuresLabel" [datasetId]="datasetId"></app-hyperparameters>
    <!-- Deo kada se klikne na dugme -->
    <!-- <div class="options">
        <input>
    </div> -->
    <app-chart></app-chart>
</div>
