<div class="row" id="blok">
  <div class="col-md-6 offset-md-3 mt-4">
      <h3>Registracija</h3>
      <form  #forma="ngForm" 
            (ngSubmit)="onSubmit(forma)">
          <div class="mb-3">
              <label for="registerUsername">Korisničko ime</label>
              <input type="text"
                     name="username"
                     ngModel
                     required
                     pattern="([a-zA-Z]){4,}\w+"
                     #username="ngModel"
                     class="form-control"
                     id="registerUsername"
                     placeholder="At least 5 letters">
          </div>
          <div class="mb-3">
              <label for="registerEmail">Email</label>
              <input type="email"
                     name="email"
                     ngModel
                     required
                     pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                     #email="ngModel"
                     class="form-control"
                     id="registerEmail"
                     placeholder="Enter email"
                     maxlength="320">
                     
          </div>
          <div class="mb-3">
              <label for="registerPassword">Šifra</label>
              <input type="password"
                     name="password"
                     ngModel
                     required
                     pattern="([a-zA-Z0-9_\-]){4,}\w+"
                     #password="ngModel"
                     class="form-control"
                     id="registerPassword"
                     placeholder="At least 5 letters or numbers"
                     (ngModelChange)="onPasswordConfirmChange(forma)">
          </div>
          <div class="mb-3">
            <label for="registerConfirmPassword">Potvrdi šifru</label>
            <input type="password"
                   name="registerConfirmPassword"
                   ngModel
                   required
                   pattern="([a-zA-Z0-9]){4,}\w+"
                   #confirmpassword="ngModel"
                   class="form-control"
                   id="registerConfirmPassword"
                   placeholder="Enter the password above"
                   (ngModelChange)="onPasswordChange(forma)"
                   #passwordInput>
          </div>
          
          <button type="submit"
                  [disabled]="forma.invalid"
                  class="btn btn-primary">Regustruj se<i class="fas fa-sign-in-alt"></i></button>
      </form>
  </div>
  
</div>
<div class="col-md-6 offset-md-3 mt-4" id="uspesnaRegistracijaMessage" style="display: none;">
  <p class="alert alert-success text-center" role="alert">Uspesna registracija. Bicete prebaceni na pocetnu stranu...</p>
</div>
<div class="col-md-6 offset-md-3 mt-4" id="neuspesnaRegistracijaMessage" style="display: none;">
  <p class="alert alert-danger text-center" role="alert">Uneli ste postojeće korisničko ime/email.</p>
</div>