[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
chardet = "*"
uvicorn = "*"
fastapi = "*"
pydantic = "*"
typing = "*"

[dev-packages]

[scripts]
server = "python ann_server.py"
dev_server = "python ann_server.py dev"

[requires]
python_version = "*"
