<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="#"><i class="fa-solid fa-r"></i>Igrannonica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto" id="dugmici">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/training']" routerLinkActive="active">Trening</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/datasets']" routerLinkActive="active">Datasetovi</a>
          </li> 
        </ul>
      </div>

      <div class="justify-content-end" *ngIf="displayLoginElement">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngIf="displayLoginElement">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item" *ngIf="displayLoginElement">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>

      <div class="justify-content-end" *ngIf="!displayLoginElement && user$">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/my-profile']" routerLinkActive="active">
              <img src="{{(user$ | async).image}}" alt="profile-picture" style="height: 40px; width: 40px;">
               {{(user$ | async).username}}
            </a>
          </li>
        </ul>
        
      </div>
      <div class="justify-content-end" *ngIf="!displayLoginElement">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="doLogout()">Logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>