/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.ag-header-cell-label {
    justify-content: center;
}

body{
    background-color:#F5F5F5;
}


  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
